<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Online Food Order</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/cart">Cart</button>
      <button mat-menu-item routerLink="/edit-user">Edit Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="userData">
  <form [formGroup]="editForm" (ngSubmit)="editForm.valid && editFormSubmit()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Street Name</mat-label>
      <input matInput formControlName="street_name" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Pin Code</mat-label>
      <input matInput formControlName="pincode" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>State</mat-label>
      <input matInput formControlName="state" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Update</button>
  </form>
</div>
