.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.card-list {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;

  mat-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.empty-cart {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}
